@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: "Quicksand", sans-serif;
}

body {
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  color: #ffffff;
  background: #a8ff78;
  background: -webkit-gradient(linear, left top, left bottom, from(#78ffd6), to(#a8ff78));
  background: linear-gradient(to bottom, #78ffd6, #a8ff78);
  min-height: 100vh;
}

.container {
  max-width: 100%;
  width: 600px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  text-decoration: underline;
}

.result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 15px 0;
}

.score,
.moves {
  color: #00c2d8;
}

.restart {
  background-color: #00c2d8;
  color: #ffffff;
  padding: 5px;
  border-radius: 5px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}

.cards-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  background-color: #ffffff;
  padding: 15px;
  border-radius: 10px;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-perspective: 1000;
          perspective: 1000;
  -webkit-animation: appearance 1s linear;
          animation: appearance 1s linear;
}

@-webkit-keyframes appearance {
  0% {
    -webkit-transform: scale(0) rotate(360deg);
            transform: scale(0) rotate(360deg);
  }
  100% {
    -webkit-transform: scale(1) rotate(0);
            transform: scale(1) rotate(0);
  }
}

@keyframes appearance {
  0% {
    -webkit-transform: scale(0) rotate(360deg);
            transform: scale(0) rotate(360deg);
  }
  100% {
    -webkit-transform: scale(1) rotate(0);
            transform: scale(1) rotate(0);
  }
}

.card img {
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.5s ease 0.1s;
  transition: all 0.5s ease 0.1s;
}

.card.show {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

.card.show img {
  -webkit-transform: scale(1);
          transform: scale(1);
}
/*# sourceMappingURL=style.css.map */