.weather-info {
  padding: 40px 0;

  .weather-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;

    @media screen and (max-width: 1024px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 570px) {
      grid-gap: 20px;
    }

    @media screen and (max-width: 520px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .weather {
    position: relative;
    background-color: rgba($color: #ffffff, $alpha: 0.3);
    padding: 20px 15px;
    border-radius: 10px;
    overflow: hidden;
    z-index: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .weather::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    background: #a8ff78;
    background: -webkit-linear-gradient(to left, #78ffd6, #a8ff78);
    background: linear-gradient(to left, #78ffd6, #a8ff78);

    top: 0;
    right: 0;
  }

  .location {
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: 6400;
    margin-bottom: 10px;

    .city-name {
      color: #ffffff;
    }
  }

  .city-temp {
    display: flex;
    align-items: center;

    h2 {
      font-size: 4rem;
      font-weight: 700;
    }

    span {
      font-size: 2rem;
      margin-left: 5px;
    }

    i {
      font-size: 2.5rem;
      margin-right: 30px;
      color: rgb(175, 175, 175);
    }
  }

  .wind {
    display: flex;
    align-items: center;

    h2 {
      font-size: 4rem;
    }

    span {
      font-size: 2rem;
      margin-left: 5px;
    }

    i {
      font-size: 2.5rem;
      margin-right: 30px;
      color: rgb(175, 175, 175);
    }
  }

  .description {
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 3px;
    margin-top: 10px;
  }
}
